.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    grid-column: 1/3;
    background-color: #9bcaff;
    width: 1263px;
    font-family: "Underdog";
}

img{
    align-self: end;
}