*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display:grid;
    height:auto;
    grid-template-columns: 200px 1fr;
    grid-template-rows: min-content 1fr;
}
/*.main {*/
/*    display: flex;*/
/*    margin-top: 200px;*/
/*    flex-direction: column;*/
/*    align-items:center;*/
/*}*/

.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 200px;
    font-family: "General Grotesque Recl Heavy";
}

.stages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    border: 2px solid transparent;
    border-image: linear-gradient(#61dafb, #004aff);
    border-image-slice: 1;
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
}

.formUpdate {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;
    font-family: "General Grotesque Recl Heavy";
}
.main-content{
    display: flex;
    height: 417px;
    flex-direction: column;
    justify-items: center;
    padding-top: 160px;
    background-color: rgb(42, 42, 42);
}
.main-form{
    border-right: solid #ffffff 2px;
    border-left: solid #ffffff 2px;
    border-top-left-radius: 55%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    background-color: rgba(113, 139, 252, 0.98);
}

.main-form2{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

p{
    font-family: "Underdog";
    color:black;
    font-weight: bolder;
}
.content {
    font-family: "Underdog";
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    padding-top: 90px;
}

.reg-input{
    width: 250px;
}
.btn{
    border-radius: 10px;
    width: 260px;
    background-color: #ffffff;
}
.btn-sign{
    border:solid black 2px;
    border-radius: 20px;
    width: 255px;
    height: 17px;
    background-color: gainsboro;
    font-size: 13px;
    padding-top: 2px;
    margin-top: -2px;
}
.line{
    width: 1100px;
    border: solid black 1px;
    border-radius:50%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.block{
    display: flex;
    flex-direction: column;
}

.reg-block{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.add{
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-image: linear-gradient(#61dafb, #004aff);
    border-image-slice: 1;
    padding: 5px;
    margin-bottom: 55px;
}

.btn2{
    border-radius: 3px;
    border: 2px solid dodgerblue;
    width: 100px;
    height: 30px;
    font-family: "Underdog";
    align-self: center;
    background-color: #ffffff;
}

.radio-div {
    display: flex;
    flex-direction: row;
}

.column-list {
    display: flex;
    flex-direction: column;
}