
.main {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-content: space-between;
    align-items:start;
    height: 700px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 200px;
    font-family: "General Grotesque Recl Heavy";
}

.stages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5px;
}